*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header
{
    display: flex;
    position: sticky;
    height: 40px;
    padding-top:5px ;
    width: auto;
}
#icon
{
    font-size: 50px;
    padding-left: 5px;
    position: fixed;
}
.MailList
{
    display:flex;
    gap: 50px;
     padding-left: 70%; 
    padding-top: 8px;
    list-style-type:none;
    justify-content: center;
    position: fixed;
    
}
.listItems
{
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    background-color: rgb(15, 235, 231);
    color: white;
}
a
{
    text-decoration: none;
}
.headText
{
    padding-top: 50px;
    font-size: 70px;
}
.spanText
{
    color: darkturquoise;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Oswald', sans-serif;
}
.animatedGift
{
    display: flex;
    
}
#para
{
    font-size: 20px;
    line-height: 40px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Oswald', sans-serif;
}
#logo
{
    padding-left: 125px;
    
}
.para2
{
    font-size: 30px;
    color: deeppink;
}
/*About Sec*/
#aboutMe
{
    display: flex;
}
#aboutHead
{
    text-align: center;
    font-size: 70px;
    color: rgb(50, 203, 234);
    padding-bottom: 50px;
}
.aboutPara
{
    line-height: 40px;
    padding-left: 35px;
    font-size:18px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Oswald', sans-serif;
}
#img
{
    height: 250px;
    width: 250px;
    clip-path: circle(50%);
}
.headTechStack
{
    text-align: center;
    font-size: 60px;
    color: rgb(163, 63, 222);
    padding-bottom:30px;
      
}
.techStackList
{
    display:flex;
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    
}
#unList
{
    display:flex;
    justify-content: center;
    gap: 100px;

}
#aboutHead1
{
    text-align: center;
    font-size: 70px;
    color: rgb(28, 196, 225);
    padding-top: 70px;
    padding-bottom: 25px;
}
#plist
{
    display:flex;
    justify-content: center;
    gap: 150px;
    
    
}
.pjList
{

    height: 446px;
    width: 300px;
    list-style: none;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'M PLUS 1 Code', monospace;
    font-family: 'Oswald', sans-serif;
    padding-left: 15px;
    transition: all 2s ease-out;
}
.p1
{
    font-size: 30px;
    color:rgb(18, 213, 231);
}
.pjList:hover
{
    background-color: black;
    color: white;
    transform: scaleX(1.08);

}
#aboutHead2
{
    text-align: center;
    font-size: 60px;
    color: rgb(14, 223, 178);
    padding-top: 70px;
    padding-bottom: 25px;
}
.logo
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 70px;
}
#logo1
{
    font-size: 100px;
      
}
.sm
{
    gap:50px;
}

.fa-linkedin:hover
{
    transform: scale(1.05);
    color: blue;
}
.fa-whatsapp:hover
{
    transform: scale(1.05);
    color: green;
}
.fa-instagram:hover
{
    transform: scale(1.05);
    color: rgb(255, 0, 0);
}
.fa-x-twitter
{
    transform: scale(1.05);
}


